<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>How is this ?</title>
  </head>
  <body>
    <div class="home">
      <div class="header">
        <div>
          <div class="site_name"><a href="#">How is this? &#128064</a></div>
          <div class="search">
            <div>
              <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="Search anything" />
            </div>
          </div>
          <div class="notification_icon">
            <i class="fa-sharp fa-solid fa-bell"></i>
          </div>
          <div class="user">
            <a href="#"
              ><img
                src="../static/image/user.png"
                width="30"
                height="30"
                alt="user.image"
            /></a>
          </div>
        </div>
      </div>
      <div class="sub_menu">
        <div>
          <div class="sub_menu_ask_question"><button>Ask Question</button></div>
          <div class="sub_menu_filter">
            <div><a href="#" class="menu_bottom_line">All Question</a></div>
            <div><a href="#">Latest</a></div>
          </div>
          <div class="sub_menu_get_started"><button>Get Started</button></div>
        </div>
      </div>
      <div class="menu">
        <div>
          <div class="left">
            <div class="left_head_sidebar">
              <div>
                <div><i class="fa-regular fa-circle-question"></i></div>
                <div><a href="#">All Question</a></div>
              </div>
              <div><div><i class="fa-solid fa-pencil"></i></div><div><a href="#">Answer</a></div></div>
              <div><div><i class="fa-solid fa-person"></i></div><div><a href="#">All Users</a></div></div>
            </div>
            <div class="left_head_sidebar left_bottom_sidebar">
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
              <div>
                <div><img src="../static/image/user.png"   width="30" height="30" alt="user_image"></div>
                <div><a href="#">Example User</a></div>
              </div>
            </div>
          </div>
          <div class="forum">
          <div class="forum_child">
             <div class="forum_count">
              <div>
                <div><i class="fa-solid fa-sort-down"></i></div>
                <div class="count">0</div>
                <div class="votes">votes</div>
                <div><i class="fa-solid fa-caret-up"></i></div>
              </div>
              <div><!-- This is empty zone --></div>
             </div>
             <div class="forum_question">
               <div class="forum_question_header">
                  <div class="forum_question_tag">Car</div>
                  <div class="forum_question_tag">Car Parts</div>
                  <div class="forum_question_tag">Fuels</div>
               </div>
               <div class="forum_question_title">
                <span>40 Basic Parts Of A Car Explain With Name & Diagram ?</span>
               </div>
               <div class="forum_question_description">
                <span>
                The chassis of an automobile has the frame, suspension system, axles, 
                and wheel as the main components. The frame could be in the form of a conventional 
               hich absorb vibrations and also provide damping of these vibrations.
                Absorption and damping of vibrations protect passengers from discomfort caused by 
                shocks.
                </span>
               </div>
               <div class="forum_question_divider"></div>
               <div class="forum_question_user_info">
                <div class="forum_question_user_info_user">
                  <div class="user">
                    <a href="#"
                      ><img
                        src="../static/image/user.png"
                        width="30"
                        height="30"
                        alt="user.image"
                    /></a>
                  </div>
                   <div class="user_name">Zaur Farruxzade</div>
                   <div class="user_post_time">Posted 2 min ago 
                    <span class="views">20 views</span></div>
                </div>
                <div class="forum_question_user_info_other">
                  <div class="answer_count">3 answers</div>
                  <div class="stars"><i class="fa-solid fa-star"></i> 0</div>
                  <div class="login_route"> <a href="#">Login to vote or follow this question</a></div>
                </div>
               </div>
             </div>
          </div>
          <div class="forum_child">
            <div class="forum_count">
             <div>
               <div><i class="fa-solid fa-sort-down"></i></div>
               <div class="count">0</div>
               <div class="votes">votes</div>
               <div><i class="fa-solid fa-caret-up"></i></div>
             </div>
             <div><!-- This is empty zone --></div>
            </div>
            <div class="forum_question">
              <div class="forum_question_header">
                 <div class="forum_question_tag">Car</div>
                 <div class="forum_question_tag">Car Parts</div>
                 <div class="forum_question_tag">Fuels</div>
              </div>
              <div class="forum_question_title">
               <span>40 Basic Parts Of A Car Explain With Name & Diagram ?</span>
              </div>
              <div class="forum_question_description">
               <span>
               The chassis of an automobile has the frame, suspension system, axles, 
               and wheel as the main components. The frame could be in the form of a conventional 
              hich absorb vibrations and also provide damping of these vibrations.
               Absorption and damping of vibrations protect passengers from discomfort caused by 
               shocks.
               </span>
              </div>
              <div class="forum_question_divider"></div>
              <div class="forum_question_user_info">
               <div class="forum_question_user_info_user">
                 <div class="user">
                   <a href="#"
                     ><img
                       src="../static/image/user.png"
                       width="30"
                       height="30"
                       alt="user.image"
                   /></a>
                 </div>
                  <div class="user_name">Zaur Farruxzade</div>
                  <div class="user_post_time">Posted 2 min ago 
                   <span class="views">20 views</span></div>
               </div>
               <div class="forum_question_user_info_other">
                 <div class="answer_count">3 answers</div>
                 <div class="stars"><i class="fa-solid fa-star"></i> 0</div>
                 <div class="login_route"> <a href="#">Login to vote or follow this question</a></div>
               </div>
              </div>
            </div>
         </div>
         </div>
          <div class="left">
            <div class="left_head_sidebar">
              <div>
              <div><a href="#">@ Farrukhzada 2022</a>
              </div>
            </div>
            </div>
            <div class="left_bottom_sidebar"></div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/72ef3812f7.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
